:root {
  --primary-text-color: #232323;
}

.logo {
  width: 35px;
  height: 35px;
  color: black;
}

.container {
  height: 110px;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #e7e7e7;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.title {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleName {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 24px;
  color: #232323;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.searchbarContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background-color: #ededed;
  border-radius: 8px;
  width: 762px;
  height: 40px;
  position: relative;
}

.inputColumn {
  width: 100%;
}

.threadsContainer {
  position: absolute;
  top: 0%;
  left: 0;
  /* height: 100px; */
  width: 100%;
  background-color: #ededed;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  border-radius: 8px;
  color: black;
}

.threadsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.threadsContainer li {
  padding: 8px 12px; /* Add some padding for each item */
  padding-left: 50px;
  border: none;
  cursor: pointer;
}

.threadsContainer li:first-child {
  padding: 8px 12px;
  border: none;
  color: #ededed;
}

.threadsContainer li:last-child {
  border-bottom: none; /* Remove the bottom border from the last item */
}

.threads {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
}

.threads a {
  text-decoration: none;
  color: inherit;
}

.threads p:first-child {
  font-size: 14px;
}

.threads p:last-child {
  font-size: 11px;
  color: grey;
}

.searchBar,
.searchButton {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

.searchButton:hover {
  background-color: transparent;
}

.searchBar {
  margin-left: 14px;
  width: 100%;
}

.signInButton {
  width: 126px;
  height: 40px;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.signInButton:hover {
  opacity: 0.7;
}

.postContainer {
  width: 800px;
  height: 240px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
  color: black;
}

.postContainer:hover {
  background-color: #dadada;
}

.yourFeed {
  /* margin-left: 280px; */
  font-size: 40px;
  font-weight: bolder;
  color: #232323;
  padding: 30px 0px;
}

.topContainer {
  display: flex;
}

.leftSection {
  font-size: 16px;
  width: 120px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes {
  margin: 15px 0px;
}

.up {
  cursor: pointer;
  color: rgb(172, 172, 172);
  border-radius: 50%;
  transition: 0.4s all ease;
}

.up:hover {
  color: rgb(246, 88, 3);
}

.down {
  cursor: pointer;
  color: rgb(172, 172, 172);
  border-radius: 50%;
  transition: 0.4s all ease;
  transform: rotate(180deg);
}

.down:hover {
  color: rgb(3, 87, 215);
}

.rightSection {
  font-size: 16px;
}

.rightTopContainer {
  width: 500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.titleCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #d9d9d9;
}

.threadName {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s all ease;
  text-decoration: underline;
}

.threadName:hover {
  color: rgb(38, 0, 228);
}

.postTitle {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.bottomSection {
  height: 45px;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
}

.comment {
  margin-left: 30px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.homePageContainer {
  display: flex;
  justify-content: space-around;
  background-color: #e7e7e7;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.getStarted {
  margin-top: 110px;
}

.postedBy {
  color: rgb(125, 117, 117);
}

.description {
  color: #2d2d2d;
}

.loader {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  padding: 50px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 80px;
  cursor: pointer;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%; /* Position it below the profile picture */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

.dropdownMenu a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdownMenu a:hover {
  background-color: #f0f0f0;
}
