:root {
  --primary-text-color: rgb(237, 243, 241);
}

.container {
  height: 110px;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
}

.title {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.searchbarContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  width: 762px;
  height: 40px;
}

.searchBar,
.searchButton {
  outline: none;
  border: none;
  background-color: transparent;
}

.searchButton:hover {
  background-color: transparent;
}

.searchBar {
  margin-left: 14px;
  width: 100%;
}

.signInButton {
  width: 126px;
  height: 40px;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.signInButton:hover {
  opacity: 0.7;
}

.postContainer {
  width: 700px;
  height: 240px;
  background-color: #232323;
  margin-bottom: 20px;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.postContainer:hover {
  background-color: #3f3f3f;
}

.yourFeed {
  margin-left: 300px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--primary-text-color);
  padding: 30px 0px;
}

.topContainer {
  display: flex;
}

.leftSection {
  font-size: 16px;
  width: 120px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: -20px;
}

.likes {
  margin-top: 15px;
}

.heart {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.heart:hover {
  color: rgb(187, 51, 51);
}

.rightSection {
  font-size: 16px;
}

.rightTopContainer {
  width: 500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.titleCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #d9d9d9;
}

.threadName {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.2s all ease;
}

.threadName:hover {
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.8);
}

.postTitle {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 10px;
}

.bottomSection {
  height: 45px;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
}

.comment {
  margin-left: 30px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.homePageContainer {
  display: flex;
  justify-content: space-around;
}
